.background    { background: rgb(125, 100, 200);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 90, 30); }
.wall          { background: white;   }
.floater { background: green;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
